/* The css styles are supposed to represent how the modules look 
* starting from left to right as closely as possible*/

* {
  border: none;
  font-family: "JetBrainsMono NF";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

/* Overarching styles */

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  opacity: 0.8;
  background-color: #1e1e2e;
  color: #FFFFFF;
  border-radius: 5px;
}

/* Left modules */

#custom-logo,
#custom-weather,
#window {
  opacity: 0.8;
  background: #1e1e2e;
  border-radius: 8px;
  padding: 0px 10px;
  margin: 3px 0px;
}

/* Overwritting the previous padding style on 'custom-logo' 
* to give proper padding to nerd font icon */
#custom-logo {
  color: #cba6f7;
  padding: 0px 15px 0px 10px;
}

/* If no windows are present on the screen,
* this module will be transparent */
window#waybar.empty #window {
  background-color: transparent;
}

/* Center modules */
#workspaces {
  opacity: 0.8;
  background: #1e1e2e;
  border-radius: 8px;
  padding: 0px 5px;
  margin: 4px 10px;
}

#workspaces button {
  padding: 0px 3px;
  margin: 6px 2px;
  border-radius: 40px;
  background: #7d6a95;
  opacity: 30;
  transition: all 0.5s cubic-bezier(0.11, 1.09, 0.6, 0.96);


}
#workspaces button.active {
  margin: 6px 2px;
  padding: 0px 35px;
  background-color: #cba6f7;
}

#workspaces button:hover {
  background-color: #89bfda;
}

/* Right modules */

/* These modules are children of group/system */
#battery,
#cpu,
#disk,
#memory,
#temperature,
#battery,
#backlight,

/* group/system */
#system {
  opacity: 0.8;
  background: #1e1e2e;
  border-radius: 8px;
  margin: 3px 0px;
  padding: 0px 8px;
}

#pulseaudio,
#pulseaudio#microphone,
#tray,
#audio {
  opacity: 0.8;
  background: #1e1e2e;
  border-radius: 8px;
  margin: 3px 0px;
  padding: 0px 8px;
}

#disk {
   color: #cba6f7;
}

#memory {
   color: #89b4fa;
}

#cpu {
   color: #a6e4a1;
}

#temperature {
   color: #cba6f7;
}

#backlight {
   color: #89b4fa;
}

#battery {
   color: #a6e4a1;
}

#pulseaudio {
   color: #89b4fa;
}

#pulseaudio.microphone {
   color: #cba6f7;
}


#clock {
  opacity: 0.8;
  background: #1e1e2e;
  border-radius: 8px;
  padding: 0px 10px;
  margin: 3px 0px;
}

#custom-lock_screen,
#custom-power_btn,
#power {
  opacity: 0.8;
  background: #1e1e2e;
  border-radius: 8px;
  padding: 0px 7px;
  margin: 3px 0px;
}

